* {
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  background-color: #ffd428;
}

header nav {
  font-weight: bold;
}

.nav-bar a {
  color: black;
}

#navbutton {
  margin-left: auto;
}

.navbar {
  align-content: center;
}

#profile {
  margin-left: 6px;
  align-content: right;
}

/*NAPS CSS LOGIN and SIGNUP*/

.dropdown {
  padding: 15px;
}
.signup {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.log {
  text-align: center;
}
.row {
  margin-bottom: 20px;
}
#gender {
  height: 40px;
}
.register {
  width: 400px;
  height: 40px;
}

.bttn {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  width: 200px;
  background-color: #ffd428;
  border: #333 2px solid;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.bttn:active {
  color: black;
  border-color: black;
  opacity: 0.8;
}
.bttn:hover {
  color: black;
  border-color: #333;
  background-color: #f5c400;
  outline: none;
  border-radius: 3px;
}

footer {
  background: #333;
  color: white;
  margin-top: 4.5%;
}

/*DAGDAG NI OLEG*/
#login-border {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 17px;
  border-style: solid;
  border-color: #333;
}

#signup-border {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 17px;
  border-style: solid;
  border-color: #333;
}
/*Verify Styles*/
.Vcontainer{
  border: #333 solid 2px;
  padding: 20px;
  width: 80%;
  height: 50%;
}
.IDsrc{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:5%;
}
.idType{
  height: 40px;
  width: 90%;
  margin-left: 5%;
}

.Vheading{
  text-align: center;
}

/*profile card*/
profile-card{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}
profile-card .wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}
profile-card .wrapper .left{
  width: 35%;
  background: linear-gradient(to right, gold, #808080);
  padding: 30px 25px;
  border-top-Left-radius: 5px;
  border-bottom-Left-radius:5px;
  text-align: center;
  color: black;
}
profile-card .wrapper .left img{
  margin-bottom: 10px;
  border-radius: 5px;
}
profile-card .wrapper h4{
  margin-bottom: 10px;
}
profile-card .wrapper p{
  font-size: 12px;
}
profile-card .wrapper .right{
  width: 65%;
  background: whitesmoke;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 30px 25px;
}
profile-card .wrapper .right .info,
profile-card .wrapper .right .acc{
  margin-bottom: 15px;
}

profile-card .wrapper .right .info h3,
profile-card .wrapper .right .acc h3{
  margin-bottom: 5px;
  padding-bottom: 0px;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
}

profile-card .wrapper .right .info_data,
profile-card .wrapper .right .acc_data{
  display: flex;
  justify-content: space-between;
}

profile-card .wrapper .right .info_data .data,
profile-card .wrapper .right .acc_data .data{
  width: 45%;
}

profile-card .wrapper .right .info_data .data h4,
profile-card .wrapper .right .acc_data .data h4{
  color: #353c4e;
  margin-bottom: 5px;
}

profile-card .wrapper .right .info_data .data p,
profile-card .wrapper .right .acc_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

profile-card .wrapper .pindut a :hover {
background: gold;
}